Parsing months from date time format in pandas

In [1]:
import pandas as pd

In [27]:
data={'Purchase':['Car','Clothes','Computer','Phone'],'Date':[4/13/21, 4/13/21, 4/13/21, 4/13/21]}

In [28]:
df=pd.DataFrame(data)

In [31]:
df_ten = pd.read_csv(r'C:\Users\eppin\Desktop\df.csv')

In [32]:
df_ten.head()

  purchase        date
0     cars  10/10/1990
1    pohne  10/01/1990
2    film   05/05/1990
3    book   06/07/1990
4  blanket  04/06/1990

In [37]:
df_ten.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   purchase  5 non-null      object
 1   date      5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 208.0+ bytes

In [35]:
df_ten['date']= pd.to_datetime(df_ten['date'])

In [39]:
month_extract = df_ten['date'].dt.month

In [40]:
month_extract.head()

0    10
1    10
2     5
3     6
4     4
Name: date, dtype: int64

In [41]:
df=pd.DataFrame(month_extract)

In [42]:
df.head()

   date
0    10
1    10
2     5
3     6
4     4